/* rem and em do not depend on html font size in media queries instead
 1 rem = 1 em = 16px , so we have to divide the pixels with 16px to get the em*/

/* ************************ */
/* below 1200px for smaller desktops*/
/* ************************ */
@media (max-width: 75em) {
  html {
    font-size: 56%;
  }
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ************************ */
/* below 900px for smaller desktops*/
/* ************************ */
@media (max-width: 56em) {
  html {
    font-size: 50%;
  }
  .grid {
    column-gap: 4rem;
    row-gap: 6rem;
  }
  .heading-secondary {
    font-size: 4rem;
  }

  .heading-tertiary {
    font-size: 1.5rem;
  }
  .nav-header {
    padding: 0 3.8rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3rem;
  }
}

/* ************************ */
/* below 600px for smaller desktops*/
/* ************************ */
/* @media (max-width: 38em) {
  html {
    font-size: 40%;
  }
} */
