/* Without flex we have to define rules for both container and childs */

body {
  background-color: black;
}

.container > div {
  /* background-color: rgb(247, 118, 118); */

  /* text-align: center; */
  border: 2px solid brown;
  color: crimson;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.container {
  border: 5px solid brown;
  height: 300px;
  gap: 20px;
  /* width: 400px; */
  display: flex;
  /* display: flex;  Defalut x axis left to right  */
  /* flex-direction: row-reverse; */
  /* justify-content: space-evenly; */
  /* align-items: stretch; */
  /* flex-wrap: wrap; */
}

.one {
  align-self: flex-end;
  flex-shrink: 2;
}
